<div class="flex flex-col space-y-4 p-4 mx-auto">
  <% @itineraries.each do |itinerary| %>
    <div class="bg-white border border-gray-200 rounded-lg shadow p-4">
      <p class="text-base font-medium text-gray-900">
        <%= itinerary.title %>
      </p>
      <% if itinerary.subtitle.present? %>
        <p class="mt-1 text-sm text-gray-600">
          <%= itinerary.subtitle %>
        </p>
      <% end %>
      <%= link_to "詳細", itinerary_path(itinerary.id) %>
      <%= link_to "編集", edit_itinerary_path(itinerary.id) %>
      <%= link_to "削除", itinerary, data: { turbo_method: :delete } %>
    </div>
  <% end %>
</div>