<div class="flex flex-1 items-center justify-center">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">新しい旅行計画を立てよう!</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_with model: @itinerary, html: {class:"space-y-6"} do |f| %>
        <div>
          <%= f.label :title, "タイトル", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= f.text_field :title, value: "", placeholder: f.object.title.presence, class: "w-full input input-primary" %>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <%= f.label :subtitle, "サブタイトル", class: "block text-sm/6 font-medium text-gray-900" %>
          </div>
          <div class="mt-2">
            <%= f.text_field :subtitle, class: "w-full input input-primary" %>
          </div>
        </div>

        <div>
          <%= f.submit "Let's 旅行作り!", class: "w-full min-w-fit btn-primary hover:bg-blue-700 text-white font-bold btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>