<div class="relative h-screen w-screen">
  <div class="relative h-screen w-screen">
    <%= form_with url: location_search_maps_path, method: :get, remote: false, id: 'location-search-form', html: { class: "absolute top-4 left-1/2 transform -translate-x-1/2 z-10 w-3/4 px-4" } do %>
      <div class="flex space-x-2">
        <div class="relative dropdown-container">
          <button type="button" class="dropdown-button py-2.5 px-4 bg-gray-100 border border-gray-300 rounded-lg text-sm" data-target="location" >
            <%= @location.present? ? @location : "温泉地" %>
          </button>
          <%= hidden_field_tag :location, @location, id: "location" %>
          <div class="dropdown-menu hidden absolute mt-1 w-44 bg-white rounded-lg shadow z-20" >
            <ul class="text-sm text-gray-700">
              <% @default_locations.each do |default_location| %>
                <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">
                  <%= default_location.name %></button>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="relative dropdown-container">
          <button type="button" class="dropdown-button py-2.5 px-4 bg-gray-100 border border-gray-300 rounded-lg text-sm" data-target="accommodation_type" >
            <%= @accommodation_type.present? ? @accommodation_type : "旅館・ホテル" %>
          </button>
          <%= hidden_field_tag :accommodation_type, @accommodation_type || "旅館・ホテル", id: "accommodation_type" %>
          <div class="dropdown-menu hidden absolute mt-1 w-44 bg-white rounded-lg shadow z-20">
            <ul class="text-sm text-gray-700">
              <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">旅館・ホテル</button></li>
              <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">旅館・ホテルを含めない</button></li>
            </ul>
          </div>
        </div>

        <div class="relative dropdown-container">
          <button type="button" class="dropdown-button py-2.5 px-4 bg-gray-100 border border-gray-300 rounded-lg text-sm" data-target="poi_type">
            <%= @poi_type.present? ? @poi_type : "飲食・観光地" %>
          </button>
          <%= hidden_field_tag :poi_type, @poi_type || "飲食・観光地", id: "poi_type" %>
          <div class="dropdown-menu hidden absolute mt-1 w-44 bg-white rounded-lg shadow z-20">
            <ul class="text-sm text-gray-700">
              <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">飲食・観光地</button></li>
              <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">飲食・観光地を含めない</button></li>
            </ul>
          </div>
        </div>

        <div class="relative w-full">
          <%= search_field_tag :keyword, @keyword, placeholder: "検索", class: "block p-2.5 w-full text-sm bg-gray-50 border border-gray-300 rounded-lg" %>
          <%= submit_tag "🔍", class: "absolute top-0 end-0 p-2.5 text-white bg-blue-700 rounded-r-lg hover:bg-blue-800" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="absolute inset-0 z-0" id='map'></div>
</div>
