<header class="text-gray-600 body-font">
  <div class="mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center bg-lime-200">
      <%= link_to root_path, class:"flex title-font font-medium items-center text-gray-900 mb-0 py-0" do %>
        <%= image_tag 'Furomeguri_logo.png', class: 'h-12 w-auto object-contain m-0 p-0' %>
        <span class="ml-3 text-xl text-lime-900">ふろめぐり</span>
      <% end %>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <% if user_signed_in? %>
        <button class="mr-5 inline-flex items-center bg-orange-300 border-0 py-1 px-3 text-lime-900 focus:outline-none hover:bg-orange-400 rounded text-base mt-4 md:mt-0">
          <%= link_to '旅程一覧', ""  %>
        </button>
        <button class="mr-5 inline-flex items-center bg-orange-300 border-0 py-1 px-3 text-lime-900 focus:outline-none hover:bg-orange-400 rounded text-base mt-4 md:mt-0">
          <%= link_to 'アカウント名', ""  %>
        </button>
        <button class="mr-5 inline-flex items-center bg-orange-300 border-0 py-1 px-3 text-lime-900 focus:outline-none hover:bg-orange-400 rounded text-base mt-4 md:mt-0">
          <%= link_to 'ログアウト', ""  %>
        </button>
      <% else %>
        <button class="mr-5 inline-flex items-center bg-orange-300 border-0 py-1 px-3 text-lime-900 focus:outline-none hover:bg-orange-400 rounded text-base mt-4 md:mt-0">
          <%= link_to '新規登録', new_user_registration_path %>
        </button>
        <button class="mr-5 inline-flex items-center bg-orange-300 border-0 py-1 px-3 text-lime-900 focus:outline-none hover:bg-orange-400 rounded text-base mt-4 md:mt-0">
          <%= link_to 'ログイン', user_session_path %>
        </button>
      <% end %>
    </nav>
  </div>
</header>
