<header class="sticky top-0 z-50 h-14 backdrop-blur bg-lime-200/90 text-gray-600">
  <div class="max-w-7xl mx-auto flex flex-wrap items-center px-4 py-2">

    <!-- ロゴ -->
    <%= link_to root_path,
      class: "flex items-center gap-2 text-lime-900 font-semibold" do %>
      <%= image_tag "Furomeguri_logo.png", class: "h-10 w-auto object-contain" %>
      <span class="text-xl">ふろめぐり</span>
    <% end %>

    <!-- ナビ -->
    <nav class="ml-auto flex flex-wrap items-center gap-3 text-base">
      <% if user_signed_in? %>
        <%= link_to "旅程作成!", new_itinerary_path, class: "inline-flex items-center bg-orange-300 px-4 py-2 rounded text-lime-900 text-sm bg-orange-400 rounded shadow" %>
        <%= link_to '旅程一覧', itineraries_path,
              class: "inline-flex items-center bg-orange-300 py-1 px-3 rounded text-lime-900 text-sm hover:bg-orange-400" %>
        <%= link_to 'ログアウト', destroy_user_session_path,
              method: :delete,
              class: "inline-flex items-center bg-orange-300 py-1 px-3 rounded text-lime-900 text-sm hover:bg-orange-400" %>
        <%= link_to edit_user_registration_path, class: "inline-flex items-center justify-center p-0" do %>
          <div class="h-10 w-10 rounded-full overflow-hidden ring-1 ring-lime-900/15 hover:ring-lime-900/30 shrink-0">
            <%= image_tag "user_profile.png",
                  alt: "アカウント",
                  class: "h-full w-full object-cover align-middle" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path, class: "inline-flex items-center bg-orange-300 py-1 px-3 rounded text-lime-900 text-sm hover:bg-orange-400" %>
        <%= link_to 'ログイン', user_session_path, class: "inline-flex items-center bg-orange-300 py-1 px-3 rounded text-lime-900 text-sm hover:bg-orange-400" %>
      <% end %>
    </nav>
  </div>
</header>

