<div class="absolute top-3 left-4 right-4 mx-auto z-20 w-1/2 px-4">
  <form id="location-search-form" class="w-full">
    <div class="flex space-x-2">
      <!-- location -->
      <div class="relative dropdown-container">
        <button type="button" class="dropdown-button py-2.5 px-4 bg-gray-100 border border-gray-300 rounded-lg text-sm" data-target="location">
          <%= @location.present? ? @location : "温泉地" %>
        </button>
        <input type="hidden" name="location" id="location" value="<%= @location %>">
        <div class="dropdown-menu hidden absolute mt-1 w-44 bg-white rounded-lg shadow z-20">
          <ul class="text-sm text-gray-700">
            <% @default_locations.each do |default_location| %>
              <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">
                <%= default_location.name %></button>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <!-- accommodation_type -->
      <div class="relative dropdown-container">
        <button type="button" class="dropdown-button py-2.5 px-4 bg-gray-100 border border-gray-300 rounded-lg text-sm" data-target="accommodation_type">
          <%= @accommodation_type.present? ? @accommodation_type : "旅館ホテル" %>
        </button>
        <input type="hidden" name="accommodation_type" id="accommodation_type" value="<%= @accommodation_type || '旅館ホテル' %>">
        <div class="dropdown-menu hidden absolute mt-1 w-44 bg-white rounded-lg shadow z-20">
          <ul class="text-sm text-gray-700">
            <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">旅館ホテル</button></li>
            <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">旅館ホテルを含めない</button></li>
          </ul>
        </div>
      </div>

      <!-- poi_type -->
      <div class="relative dropdown-container">
        <button type="button" class="dropdown-button py-2.5 px-4 bg-gray-100 border border-gray-300 rounded-lg text-sm" data-target="poi_type">
          <%= @poi_type.present? ? @poi_type : "飲食観光地" %>
        </button>
        <input type="hidden" name="poi_type" id="poi_type" value="<%= @poi_type || '飲食観光地' %>">
        <div class="dropdown-menu hidden absolute mt-1 w-44 bg-white rounded-lg shadow z-20">
          <ul class="text-sm text-gray-700">
            <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">飲食観光地</button></li>
            <li><button type="button" class="block w-full text-left px-4 py-2 hover:bg-gray-100">飲食観光地を含めない</button></li>
          </ul>
        </div>
      </div>

      <!-- keyword -->
      <div class="relative w-full">
        <input type="search" name="keyword" placeholder="検索" value="<%= @keyword %>" class="block p-2.5 w-full text-sm bg-gray-50 border border-gray-300 rounded-lg">
        <button type="submit" class="absolute top-0 end-0 p-2.5 text-white bg-blue-700 rounded-r-lg hover:bg-blue-800">🔍</button>
      </div>
    </div>
  </form>
</div>