<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Furomeguri" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TQQ9G04608"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TQQ9G04608');
    </script>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] || '環境変数未設定' %>&v=weekly&libraries=marker&callback=initGoogleMaps&loading=async" async defer></script>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
    <script>window.currentUserLoggedIn = <%= user_signed_in? %>;</script>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    <% if notice.present? %>
      <div role="alert" class="alert alert-success">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span><%= notice %></span>
      </div>
    <% end %>
    <main class="flex flex-1 min-h-0">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
