<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Furomeguri" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] || '環境変数未設定' %>&callback=initMap&v=weekly&libraries=marker" defer></script>
    <script>window.currentUserLoggedIn = <%= user_signed_in? %>;</script>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-50">
    <%= render 'shared/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="flex flex-1 min-h-0">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
